### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:


pd.DataFrame([purchase_data["SN"].nunique()], columns = ["Total Players"])

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# create a dataframe and find the number of unique items
data_file_df = pd.DataFrame([purchase_data["Item Name"].nunique()], columns = ["Number of Unique Items"])
#number_of_unique_items = purchase_data["Item Name"].nunique()], columns = ["Number of Unique Items"]

# find the average price
average = purchase_data["Price"].mean()
data_file_df["Average Price"] = average

# Calculate the number of purchases
number_of_purchases = purchase_data["Purchase ID"].count()
data_file_df["Number of Purchases"] = number_of_purchases

# Calucate the total revenues
total_revenues = purchase_data["Price"].sum()
data_file_df["Total Revenues"] = total_revenues

# format columns
format_dict = {col_name: '${:,.2f}' for col_name in data_file_df.select_dtypes(float).columns}

data_file_df.head().style.format(format_dict)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# filter for unique players
unique_players_df = purchase_data.drop_duplicates(subset=["SN"])

# Get a count of the males, females undisclosed
count = unique_players_df["Gender"].value_counts()

# Create a dataframe and add the count
gender_df = pd.DataFrame({"Total Counts": (count)})

# Get a total gender count
total = unique_players_df["Gender"].count()

# Find the percent of each gender
perc_gender_total = count/total

# Add the percents to the dataframe
gender_df["Percent of Players"] = perc_gender_total

# format columns
format_dict = {col_name: '{:.2%}' for col_name in gender_df.select_dtypes(float).columns}

gender_df.head().style.format(format_dict)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# groupby person and sum the total price
grouped_person_df = purchase_data.groupby(['SN', 'Gender'], as_index=False)['Price'].sum()

# Using GroupBy in order to separate the data into fields according to "Gender" values
grouped_gender_df = purchase_data.groupby(['Gender'])

# In order to be visualized, a data function must be used...
grouped_gender_price_df = grouped_gender_df.describe()['Price']

# filter
grouped_gen_price_filt_df = grouped_gender_price_df[['count', 'mean']].copy()

# groupby gender and the sum pri
grouped_gen_price_filt_df['Total Purchase Value'] = purchase_data.groupby(['Gender'])['Price'].sum()

# groupby gender and then take the mean
grouped_gen_price_filt_df["Avg Total Purchase per Person"] = grouped_person_df.groupby(['Gender'])['Price'].mean()

# rename 'count' to 'Purchase Count' and 'mean' to 'Average Purchase Price'
grouped_gen_price_filt_df.rename(columns={'count': 'Purchase Count', 'mean': 'Average Purchase Price'}, inplace=True)

# format 'Purchase Count' to integer
grouped_gen_price_filt_df['Purchase Count'] = grouped_gen_price_filt_df['Purchase Count'].astype(int)

# format all columns to dollars with two decimal points
format_dict = {col_name: '${:,.2f}' for col_name in grouped_gen_price_filt_df.select_dtypes(float).columns}

# print the dataframe with the appropriate format
grouped_gen_price_filt_df = grouped_gen_price_filt_df.head().style.format(format_dict)

# print the dataframe with the appropriate format
grouped_gen_price_filt_df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:
# rename the original dataframe to one for age
age_demog_df = pd.DataFrame(purchase_data)
# Establish bins for ages   
bins = [0, 9.5, 14.5, 19.5, 24.5, 29.5, 34.5, 39.5, 50]

# Create the names for the five bins
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
age_demog_df["Age Demographics Summary"] = pd.cut(age_demog_df["Age"], bins, labels=age_names, include_lowest=True)

# Calculate the numbers and percentages by age group
age_demog_groupby_df = age_demog_df.groupby("Age Demographics Summary")

# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table

age_demog_groupby_df.describe()

                         Purchase ID                                       \
                               count        mean         std   min    25%
Age Demographics Summary
<10                             23.0  435.173913  259.081885  27.0  229.5
10-14                           28.0  361.214286  240.514781  26.0  140.5
15-19                          136.0  403.375000  214.316171  30.0  225.0
20-24                          365.0  382.391781  226.330152   0.0  189.0
25-29                          101.0  406.653465  204.732041  25.0  257.0
30-34                           73.0  359.643836  226.244053  19.0  171.0
35-39                           41.0  404.780488  260.717329   6.0  195.0
40+                             13.0  410.230769  264.533915   1.0  220.0

                                                  Age             ... Item ID  \
                            50%     75%    max  count       mean  ...     75%
Age Demographics Summary                                          ...
<10                       486.0  665.00  778.0   23.0   7.869565  ...  142.00
10-14                     409.5  531.75  774.0   28.0  11.392857  ...  134.50
15-19                     388.5  601.25  771.0  136.0  16.794118  ...  143.25
20-24                     378.0  574.00  779.0  365.0  21.838356  ...  133.00
25-29                     416.0  588.00  772.0  101.0  26.000000  ...  139.00
30-34                     335.0  544.00  770.0   73.0  31.383562  ...  136.00
35-39                     483.0  660.00  768.0   41.0  36.707317  ...  142.00
40+                       477.0  667.00  761.0   13.0  41.538462  ...  137.00

                                 Price                                   \
                            max  count      mean       std   min    25%
Age Demographics Summary
<10                       179.0   23.0  3.353478  1.072811  1.29  2.510
10-14                     164.0   28.0  2.956429  1.095747  1.03  1.970
15-19                     183.0  136.0  3.035956  1.179904  1.01  2.065
20-24                     183.0  365.0  3.052219  1.181192  1.00  1.970
25-29                     183.0  101.0  2.900990  1.158884  1.00  1.790
30-34                     178.0   73.0  2.931507  1.158957  1.02  1.940
35-39                     179.0   41.0  3.601707  1.029181  1.60  2.940
40+                       173.0   13.0  2.941538  1.301921  1.33  1.700


                            50%     75%   max
Age Demographics Summary
<10                       3.390  4.2750  4.93
10-14                     3.125  3.8350  4.94
15-19                     3.075  4.2525  4.91
20-24                     3.190  4.0800  4.99
25-29                     3.030  3.7700  4.94
30-34                     3.100  4.0000  4.93
35-39                     3.810  4.4000  4.91
40+                       3.390  4.0000  4.93

[8 rows x 32 columns]

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# rename the original dataframe to one for age
age_demog_df = purchase_data
# Establish bins for ages   
bins = [0, 10, 15, 20, 25, 30, 35, 40, 50]

# Create the names for the five bins
age_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
age_demog_df["Age Demographics Summary"] = pd.cut(age_demog_df["Age"], bins, labels=age_names, include_lowest=True)

# Calculate the numbers and percentages by age group
age_demog_groupby_df = age_demog_df.groupby("Age Demographics Summary")

# Create a summary data frame to hold the results
age_demo_summary_df = age_demog_groupby_df.describe()

# Optional: give the displayed data cleaner formatting


# Display the summary data frame
age_demo_summary_df

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Using GroupBy in order to separate the data into fields according to "Gender" values
grouped_SN_df = purchase_data.groupby(['SN'])

# In order to be visualized, a data function must be used...
grouped_SN_df = grouped_SN_df.count()

# Sort the data based on count
grouped_SN_df = grouped_SN_df.sort_values("Purchase ID", ascending=False)

grouped_SN_df.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Retrieve the Item ID, Item Name, and Item Price columns
grouped_popular_df = purchase_data[['Item ID', 'Item Name', 'Price']]

# Group by Item ID and Item Name
grouped_popular_df = grouped_popular_df.groupby(['Item ID', 'Item Name'])

# Perform calculations to obtain purchase count, average item price, and total purchase value and 
    # create a summary data frame to hold the results
grouped_popular_describe_df = grouped_popular_df['Price'].describe()
grouped_popular_filter_df = grouped_popular_describe_df[['count', 'mean']].copy()
grouped_popular_filter_df["Total Purchase Value"] = grouped_popular_df['Price'].sum()


# Sort in descending order based on "Total Purchase Value" column
grouped_popular_filter_sortCnt_df = grouped_popular_filter_df.sort_values("count", ascending=False)


# Optional: give the displayed data cleaner formatting


# Display a preview of the summary data frame
grouped_popular_filter_sortCnt_df.head()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Sort the above table by total purchase value in descending order
grouped_popular_filter_sortTPV_df = grouped_popular_filter_df.sort_values("Total Purchase Value", ascending=False)


# Optional: give the displayed data cleaner formatting


# Display a preview of the data frame
grouped_popular_filter_sortTPV_df.head()